@charset "UTF-8";
/**
 * Basic styling
 */
.home {
  font: 400 16px/1.5 "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }


/**
 * Lists
 */
ul, ol {
  list-style-type: none; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none !important; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Images
 */
.hand img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
.hand > img {
  display: block; }


/**
 * Keyboard
 */
.keyboard {
  clear: both;
  font-size: 0.625em;
  margin: 1em 1em 0 1em;}
  .keyboard::before, .keyboard::after {
    content: "";
    display: table; }
  .keyboard::after {
    clear: both; }
  .keyboard .layout_list {
    float: left;
    font-size: 1em;
    margin-right: 1em; }
  .keyboard .layout_link {
    float: left;
    font-size: 2.3em; }
  .keyboard .layout_option {
    list-style: none;
    float: right;
    font-size: 1em;
    margin: 0;
    padding: 0; }
    .keyboard .layout_option li {
      float: left;
      margin-left: 0.5em;
      padding: 0; }
      .keyboard .layout_option li:first-child {
        margin-left: 0; }
  .keyboard .note,
  .keyboard .message {
    margin-top: 1em;
    margin-left: 1em;
    font-size: 1.2em;
    color: #424242; }
  .keyboard section {
    float: left;
    margin-top: 1em;
    margin-left: 1em; }
    .keyboard section:first-of-type {
      margin-left: 0; }
    .keyboard section ul li {
      float: left;
      padding-right: 1em; }
  .keyboard .key_row {
    height: 4em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto; }
    .keyboard .key_row:last-of-type {
      margin-bottom: 0; }
  .keyboard .key,
  .keyboard .key_filler {
    display: inline-block;
    position: relative;
    margin-right: 0.5em;
    width: 4em;
    height: 4em; }
    .keyboard .key:last-of-type,
    .keyboard .key_filler:last-of-type {
      margin-right: 0; }
  .keyboard .key_filler {
    pointer-events: none; }
  .keyboard .key {
    cursor: pointer;
    border: 0.1em solid #aaa;
    padding-top: 0.25em;
    vertical-align: top;
    color: #333;
    text-align: center;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: 0.1em 0.1em 0.1em 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0.1em 0.1em 0.1em 0 rgba(0, 0, 0, 0.2);
    background: white; }
    .keyboard .key.cheot {
      background: PaleGreen; }
    .keyboard .key.gawit {
      background: PaleGoldenRod; }
    .keyboard .key.gawit_right {
      background: PaleGoldenRod; }
    .keyboard .key.ggeut {
      background: PaleTurquoise; }
    .keyboard .key.topress {
      border: 0.2em solid #000;
      padding-top: 0.25em;
      vertical-align: top;
      color: #333;
      text-align: center;
      -webkit-border-radius: 0.5em;
      border-radius: 0.5em;
      -webkit-box-shadow: 0.1em 0.1em 0.1em 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0.1em 0.1em 0.1em 0 rgba(0, 0, 0, 0.2);
      background: white; }
    .keyboard .key.pressed, .keyboard .key.shift_pressed, .keyboard .key.capslock_pressed {
      -webkit-box-shadow: inset 0.1em 0.1em 0.1em 0 rgba(0, 0, 0, 0.2);
      box-shadow: inset 0.1em 0.1em 0.1em 0 rgba(0, 0, 0, 0.2);
      background: #f3f3f3; }
      .keyboard .key.pressed strong, .keyboard .key.shift_pressed strong, .keyboard .key.capslock_pressed strong {
        color: #33bbff; }
      .keyboard .key.pressed .triangle:first-child.up, .keyboard .key.shift_pressed .triangle:first-child.up, .keyboard .key.capslock_pressed .triangle:first-child.up {
        border-color: transparent transparent #33bbff transparent; }
      .keyboard .key.pressed .triangle:first-child.down, .keyboard .key.shift_pressed .triangle:first-child.down, .keyboard .key.capslock_pressed .triangle:first-child.down {
        border-color: #33bbff transparent transparent transparent; }
      .keyboard .key.pressed .triangle:first-child.right, .keyboard .key.shift_pressed .triangle:first-child.right, .keyboard .key.capslock_pressed .triangle:first-child.right {
        border-color: transparent transparent transparent #33bbff; }
      .keyboard .key.pressed .triangle:first-child.left, .keyboard .key.shift_pressed .triangle:first-child.left, .keyboard .key.capslock_pressed .triangle:first-child.left {
        border-color: transparent #33bbff transparent transparent; }
    .keyboard .key.shift_pressed strong, .keyboard .key.capslock_pressed strong {
      color: #333; }
    .keyboard .key.shift_pressed em, .keyboard .key.capslock_pressed em {
      color: #33bbff; }
    .keyboard .key.wide_1 {
      width: 6.1em; }
    .keyboard .key.wide_2 {
      width: 6.4em; }
    .keyboard .key.wide_3 {
      width: 7.6em; }
    .keyboard .key.wide_4 {
      width: 10em; }
    .keyboard .key.wide_5 {
      width: 27.4em; }
    .keyboard .key.wide_6 {
      width: 8.5em; }
    .keyboard .key.tall {
      height: 8.5em;
      line-height: 8.5em; }
    .keyboard .key:hover {
      background: #ccc; }
    .keyboard .key em {
      font-style: normal; }
    .keyboard .key strong {
      font-weight: normal; }
    .keyboard .key .up_key,
    .keyboard .key .down_key {
      text-align: center;
      font-size: 1.2em; }
    .keyboard .key .en_key {
      float: left;
      margin-left: 0.5em; }
      .keyboard .key .en_key.ko_alpha {
        color: #bbb; }
    .keyboard .key .han_key {
      float: right;
      margin-right: 0.5em; }
      .keyboard .key .han_key.ko_gyeob_bat_chim {
        color: #bbb; }
      .keyboard .key .han_key.extension_key {
        color: black; }
    .keyboard .key .cheot {
      color: green; }
    .keyboard .key .gawit {
      color: brown; }
    .keyboard .key .gawit_right {
      color: brown; }
    .keyboard .key .ggeut {
      color: red; }
    .keyboard .key .galma {
      color: red; }
    .keyboard .key .font08 {
      font-size: 0.8em; }
    .keyboard .key .tag07 {
      font-size: 0.7em;
      letter-spacing: -0.1em; }
      .keyboard .key .tag07.black {
        color: white;
        background: black; }
    .keyboard .key .tag08 {
      font-size: 0.8em;
      letter-spacing: -0.1em; }
      .keyboard .key .tag08.black {
        color: white;
        background: black; }
    .keyboard .key .tag09 {
      font-size: 0.9em;
      letter-spacing: -0.1em; }
      .keyboard .key .tag09.black {
        color: white;
        background: black; }
    .keyboard .key .triangle {
      margin: 0.8em auto; }
      .keyboard .key .triangle.up {
        top: 0.2em; }
      .keyboard .key .triangle.down {
        top: 0.5em; }
      .keyboard .key .triangle.left {
        left: -0.2em; }
      .keyboard .key .triangle.right {
        left: 0.2em; }
    .keyboard .key br + .triangle {
      margin: 0 auto; }
    .keyboard .key span {
      display: block;
      position: absolute;
      width: 100%;
      padding: 0.2em 0.5em;
      bottom: 0;
      font-size: 0.8em;
      text-align: center; }
      .keyboard .key span.right {
        text-align: right; }
      .keyboard .key span.left {
        text-align: left; }
  .keyboard .triangle {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid; }
    .keyboard .triangle.up {
      border-width: 0 0.8em 1em 0.8em;
      border-color: transparent transparent #555555 transparent; }
    .keyboard .triangle.down {
      border-width: 1em 0.8em 0 0.8em;
      border-color: #555555 transparent transparent transparent; }
    .keyboard .triangle.right {
      border-width: 0.8em 0 0.8em 1em;
      border-color: transparent transparent transparent #555555; }
    .keyboard .triangle.left {
      border-width: 0.8em 0.8em 1em 0;
      border-color: transparent #555555 transparent transparent; }

/**
 * OHI
 */
.home {
  margin: auto;
  width: 700px;
  padding: 10px;
  background-image: url("/img/bg_noise.png"); }

.examples > h1,
.overview > h1,
.get_keypress > h1,
.documentation > h1 {
  margin-bottom: 0.5em;
  font-size: 1.4em;
  line-height: 1em; }
  .examples > h1.pink,
  .overview > h1.pink,
  .get_keypress > h1.pink,
  .documentation > h1.pink {
    border-bottom: 3px solid #FF0089; }
  .examples > h1.lime,
  .overview > h1.lime,
  .get_keypress > h1.lime,
  .documentation > h1.lime {
    border-bottom: 3px solid #aade00; }
  .examples > h1.blue,
  .overview > h1.blue,
  .get_keypress > h1.blue,
  .documentation > h1.blue {
    border-bottom: 3px solid #63B3E0; }
.examples p,
.overview p,
.get_keypress p,
.documentation p {
  font-size: 0.8em;
  clear: both; }
  .examples p img,
  .overview p img,
  .get_keypress p img,
  .documentation p img {
    float: left;
    margin-right: 1em; }

.overview {
  text-align: center; }
  .overview ul {
    margin: 0 0 1em 0;
    display: inline-block;}
    .overview ul li {
      float: left; }
      .overview ul li:first-child a {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      .overview ul li:last-child a {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
      .overview ul li a {
        font-weight: normal;
        display: block;
        padding: 0.5em 1.5em;
        cursor: pointer;
        color: #323232;
        background-color: #fff;
        border: 1px solid #dddddd;
        position: relative;
        line-height: 1em;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s; }
        .overview ul li a:hover {
          color: #327fc7;
          border-color: #327fc7;
          z-index: 10; }
        .overview ul li a.active {
          z-index: 20;
          color: #fff;
          background-color: #327fc7;
          border-color: #327fc7;
          outline: none; }
          .overview ul li a.active:before {
            content: none; }
          .overview ul li a.active:after {
            content: "\00a0";
            position: absolute;
            left: 2em;
            top: 2.2em;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0px 1.4em 1.4em 1.4em;
            border-color: transparent transparent #63b3e0 transparent; }

.examples {
  margin-bottom: 1em; }
  .examples .example_window {
    border: 4px solid #63b3e0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 10px;
    border-radius: 10px; }
    .examples .example_window .demo {
      display: none; }
      .examples .example_window .demo h2 {
        margin-bottom: 0.5em;
        font-size: 1.2em;
        line-height: 1.1em;
        border-bottom: 1px solid #aaa; }
      .examples .example_window .demo p {
        margin-bottom: 1em; }
      .examples .example_window .demo textarea {
        font-family: "본고딕", "Source Han Sans K", "본고딕 KR", "Source Han Sans KR", "Noto Sans CJK KR", "나눔바른고딕 옛한글", "NanumBarunGothic YetHangul", "나눔명조 옛한글", "NanumMyeongjo YetHangul", "Un Jamo Batang Ex", "은 자모 바탕 확장", Unbatang, "은 바탕", Undotum, "은 돋움", "맑은 고딕", "Malgun Gothic", "NanumGothic", "나눔고딕", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
        resize: none;
        ime-mode: disabled !important; }
      .examples .example_window .demo input {
        font-family: "본고딕", "Source Han Sans K", "본고딕 KR", "Source Han Sans KR", "Noto Sans CJK KR", "나눔바른고딕 옛한글", "NanumBarunGothic YetHangul", "나눔명조 옛한글", "NanumMyeongjo YetHangul", "Un Jamo Batang Ex", "은 자모 바탕 확장", Unbatang, "은 바탕", Undotum, "은 돋움", "맑은 고딕", "Malgun Gothic", "NanumGothic", "나눔고딕", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
        ime-mode: disabled !important; }
      .examples .example_window .demo form {
        margin: 1em 0; }
        .examples .example_window .demo form .input-group-addon {
          width: 100px;
          font-weight: bold;
          text-align: right; }

.demo[data-demo="demo_1"] {
  display: block; }

.documentation {
  margin: 3em auto; }
  .documentation p {
    clear: both;
    margin-bottom: 1em; }
  .documentation ul {
    font-size: 1.2em;
    border-left: 4px solid rgba(0, 55, 68, 0.25);
    padding-left: 1em; }
    .documentation ul li {
      margin-bottom: 1em; }
      .documentation ul li strong {
        position: relative;
        top: -1px;
        padding: 2px 6px 4px;
        background: #003744;
        font-family: monospace, serif;
        font-weight: normal;
        font-size: 0.9em;
        color: #00ac98;
        -webkit-border-radius: 4px;
        border-radius: 4px; }
        .documentation ul li strong.group_2 {
          color: #A5AC00; }
        .documentation ul li strong.group_3 {
          color: #07AC00; }
        .documentation ul li strong.group_4 {
          color: #C07618; }

.advanced_documentation {
  background: #fff;
  -webkit-box-shadow: 0 0 0 15px white;
  box-shadow: 0 0 0 15px white;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.jamo_box {
  margin: 0.5em auto 0.1em;
  text-align: center; }
  .jamo_box .jamo_panel {
    display: inline-block;
    font-size: 3em;
    padding: 0 0.5em;
    white-space: nowrap; }
    .jamo_box .jamo_panel .cheot {
      color: green; }
    .jamo_box .jamo_panel .gawit {
      color: brown; }
    .jamo_box .jamo_panel .gawit_right {
      color: orange; }
    .jamo_box .jamo_panel .ggeut {
      color: red; }

.typing_box {
  height: 6.25em;
  vertical-align: middle; }
  .typing_box .info_panel {
    float: right;
    width: 8.125em;
    margin-left: 0.6em; }
    .typing_box .info_panel .info_line {
      display: inline-block;
      width: 100%; }
      .typing_box .info_panel .info_line .info_name {
        float: left; }
      .typing_box .info_panel .info_line .info_data {
        float: right; }
  .typing_box .text_panel {
    padding: 1em 0.5em;
    text-align: center;
    overflow: hidden; }
    .typing_box .text_panel #example_show {
      margin-bottom: 1.4em; }

.hand {
  display: none;
  margin: 0 auto;
  text-align: center; }
  .hand div {
    display: inline-block;
    vertical-align: text-bottom; }
    .hand div img {
      max-width: 40px; }
