@charset "UTF-8";
/**
 * Keyboard
 */
.keyboard {
  clear: both;
  font-size: 0.625em;
  margin: 1em 1em 0 1em;}
  .keyboard::before, .keyboard::after {
    content: "";
    display: table; }
  .keyboard::after {
    clear: both; }
  .keyboard .layout_list {
    float: left;
    font-size: 1em;
    margin-right: 1em; }
  .keyboard .layout_link {
    float: left;
    font-size: 2.3em; }
  .keyboard .layout_option {
    list-style: none;
    float: right;
    font-size: 1em;
    margin: 0;
    padding: 0; }
    .keyboard .layout_option li {
      float: left;
      margin-left: 0.5em;
      padding: 0; }
      .keyboard .layout_option li:first-child {
        margin-left: 0; }
  .keyboard .note,
  .keyboard .message {
    margin-top: 1em;
    margin-left: 1em;
    font-size: 1.2em;
    color: #424242; }
  .keyboard section {
    float: left;
    margin-top: 1em;
    margin-left: 1em; }
    .keyboard section:first-of-type {
      margin-left: 0; }
    .keyboard section ul li {
      float: left;
      padding-right: 1em; }
  .keyboard .key_row {
    height: 4em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto; }
    .keyboard .key_row:last-of-type {
      margin-bottom: 0; }
  .keyboard .key,
  .keyboard .key_filler {
    display: inline-block;
    position: relative;
    margin-right: 0.5em;
    width: 4em;
    height: 4em; }
    .keyboard .key:last-of-type,
    .keyboard .key_filler:last-of-type {
      margin-right: 0; }
  .keyboard .key_filler {
    pointer-events: none; }
  .keyboard .key {
    cursor: pointer;
    border: 0.1em solid #aaa;
    padding-top: 0.25em;
    vertical-align: top;
    color: #333;
    text-align: center;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: 0.1em 0.1em 0.1em 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0.1em 0.1em 0.1em 0 rgba(0, 0, 0, 0.2);
    background: white; }
    .keyboard .key.cheot {
      background: PaleGreen; }
    .keyboard .key.gawit {
      background: PaleGoldenRod; }
    .keyboard .key.gawit_right {
      background: PaleGoldenRod; }
    .keyboard .key.ggeut {
      background: PaleTurquoise; }
    .keyboard .key.topress {
      border: 0.2em solid #000;
      padding-top: 0.25em;
      vertical-align: top;
      color: #333;
      text-align: center;
      -webkit-border-radius: 0.5em;
      border-radius: 0.5em;
      -webkit-box-shadow: 0.1em 0.1em 0.1em 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0.1em 0.1em 0.1em 0 rgba(0, 0, 0, 0.2);
      background: white; }
    .keyboard .key.pressed, .keyboard .key.shift_pressed, .keyboard .key.capslock_pressed {
      -webkit-box-shadow: inset 0.1em 0.1em 0.1em 0 rgba(0, 0, 0, 0.2);
      box-shadow: inset 0.1em 0.1em 0.1em 0 rgba(0, 0, 0, 0.2);
      background: #f3f3f3; }
      .keyboard .key.pressed strong, .keyboard .key.shift_pressed strong, .keyboard .key.capslock_pressed strong {
        color: #33bbff; }
      .keyboard .key.pressed .triangle:first-child.up, .keyboard .key.shift_pressed .triangle:first-child.up, .keyboard .key.capslock_pressed .triangle:first-child.up {
        border-color: transparent transparent #33bbff transparent; }
      .keyboard .key.pressed .triangle:first-child.down, .keyboard .key.shift_pressed .triangle:first-child.down, .keyboard .key.capslock_pressed .triangle:first-child.down {
        border-color: #33bbff transparent transparent transparent; }
      .keyboard .key.pressed .triangle:first-child.right, .keyboard .key.shift_pressed .triangle:first-child.right, .keyboard .key.capslock_pressed .triangle:first-child.right {
        border-color: transparent transparent transparent #33bbff; }
      .keyboard .key.pressed .triangle:first-child.left, .keyboard .key.shift_pressed .triangle:first-child.left, .keyboard .key.capslock_pressed .triangle:first-child.left {
        border-color: transparent #33bbff transparent transparent; }
    .keyboard .key.shift_pressed strong, .keyboard .key.capslock_pressed strong {
      color: #333; }
    .keyboard .key.shift_pressed em, .keyboard .key.capslock_pressed em {
      color: #33bbff; }
    .keyboard .key.wide_1 {
      width: 6.1em; }
    .keyboard .key.wide_2 {
      width: 6.4em; }
    .keyboard .key.wide_3 {
      width: 7.6em; }
    .keyboard .key.wide_4 {
      width: 10em; }
    .keyboard .key.wide_5 {
      width: 27.4em; }
    .keyboard .key.wide_6 {
      width: 8.5em; }
    .keyboard .key.tall {
      height: 8.5em;
      line-height: 8.5em; }
    .keyboard .key:hover {
      background: #ccc; }
    .keyboard .key em {
      font-style: normal; }
    .keyboard .key strong {
      font-weight: normal; }
    .keyboard .key .up_key,
    .keyboard .key .down_key {
      text-align: center;
      font-size: 1.2em; }
    .keyboard .key .en_key {
      float: left;
      margin-left: 0.5em; }
      .keyboard .key .en_key.ko_alpha {
        color: #bbb; }
    .keyboard .key .han_key {
      float: right;
      margin-right: 0.5em; }
      .keyboard .key .han_key.ko_gyeob_bat_chim {
        color: #bbb; }
      .keyboard .key .han_key.extension_key {
        color: black; }
    .keyboard .key .cheot {
      color: green; }
    .keyboard .key .gawit {
      color: brown; }
    .keyboard .key .gawit_right {
      color: brown; }
    .keyboard .key .ggeut {
      color: red; }
    .keyboard .key .galma {
      color: red; }
    .keyboard .key .font08 {
      font-size: 0.8em; }
    .keyboard .key .tag07 {
      font-size: 0.7em;
      letter-spacing: -0.1em; }
      .keyboard .key .tag07.black {
        color: white;
        background: black; }
    .keyboard .key .tag08 {
      font-size: 0.8em;
      letter-spacing: -0.1em; }
      .keyboard .key .tag08.black {
        color: white;
        background: black; }
    .keyboard .key .tag09 {
      font-size: 0.9em;
      letter-spacing: -0.1em; }
      .keyboard .key .tag09.black {
        color: white;
        background: black; }
    .keyboard .key .triangle {
      margin: 0.8em auto; }
      .keyboard .key .triangle.up {
        top: 0.2em; }
      .keyboard .key .triangle.down {
        top: 0.5em; }
      .keyboard .key .triangle.left {
        left: -0.2em; }
      .keyboard .key .triangle.right {
        left: 0.2em; }
    .keyboard .key br + .triangle {
      margin: 0 auto; }
    .keyboard .key span {
      display: block;
      position: absolute;
      width: 100%;
      padding: 0.2em 0.5em;
      bottom: 0;
      font-size: 0.8em;
      text-align: center; }
      .keyboard .key span.right {
        text-align: right; }
      .keyboard .key span.left {
        text-align: left; }
  .keyboard .triangle {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid; }
    .keyboard .triangle.up {
      border-width: 0 0.8em 1em 0.8em;
      border-color: transparent transparent #555555 transparent; }
    .keyboard .triangle.down {
      border-width: 1em 0.8em 0 0.8em;
      border-color: #555555 transparent transparent transparent; }
    .keyboard .triangle.right {
      border-width: 0.8em 0 0.8em 1em;
      border-color: transparent transparent transparent #555555; }
    .keyboard .triangle.left {
      border-width: 0.8em 0.8em 1em 0;
      border-color: transparent #555555 transparent transparent; }
