
{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <!--div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"-->
      <div class="col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
      </div>
    </div>
  </div>

<div class="home">
<!-- -->
  <div class="row">
    <div class="overview ">
        <ul>
          <li><a class="demo_link active" data-demo="demo_1">한글 쓰기</a></li>
          <li><a class="demo_link" data-demo="demo_2">한글 찾기</a></li>
          <li><a class="demo_link" data-demo="demo_3">글쇠 익히기</a></li>
          <li><a class="demo_link" data-demo="demo_4">타자 연습</a></li>
        </ul>
    </div><!-- class="overview" -->
  </div><!-- class="row" -->
<!-- -->
  <div class="row">
    <div class="examples">
      <div class="example_window">
        <div class="demo" data-demo="demo_1">
          <textarea id="inputText" class="form-control" rows="5" autocomplete="off"></textarea>
        </div>
        <div class="demo" data-demo="demo_2">
          <form class="form-horizontal" role="form"
                target="_blank" autocomplete="off"
                action="http://www.google.co.kr/search">
            <div class="input-group">
              <span class="input-group-addon">구글</span>
              <input class="form-control" id="searchText" name="query" placeholder="찾을 단어나 문장을 넣으시오">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default">찾기</button>
              </div>
            </div>
          </form>
          <form class="form-horizontal" role="form"
                target="_blank" autocomplete="off"
                action="http://search.naver.com/search.naver">
            <div class="input-group">
              <span class="input-group-addon">네이버</span>
              <input class="form-control" name="query" placeholder="찾을 단어나 문장을 넣으시오">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default">찾기</button>
              </div>
            </div>
          </form>
          <form class="form-horizontal" role="form"
                target="_blank" autocomplete="off"
                action="http://search.daum.net/search">
            <div class="input-group">
              <span class="input-group-addon">다음</span>
              <input class="form-control" name="query" placeholder="찾을 단어나 문장을 넣으시오">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default">찾기</button>
              </div>
            </div>
          </form>
        </div>
        <div class="demo" data-demo="demo_3">
          <div class="jamo_box">
            <div class="jamo_panel" id="jamo_panel"></div>
          </div>
        </div>
        <div class="demo" data-demo="demo_4">
          <div class="typing_box">
            <div class="info_panel">
              <div class="info_line">
                <div class="info_name">타자속도</div>
                <div class="info_data"><span id="typing_speed">0</span> 타</div>
              </div>
              <div class="info_line">
                <div class="info_name">정확도</div>
                <div class="info_data"><span id="typing_accuracy">0</span> %</div>
              </div>
              <div class="info_line">
                <div class="show_type btn-group" data-toggle="buttons">
                  <label class="btn btn-default">
                    <input type="radio" name="show_type" value="word"/> 낱말
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="show_type" value="sentence" /> 문장
                  </label>
                </div>
              </div>
            </div>
            <div class="text_panel">
              <div id="example_show">&nbsp</div>
              <div>
                <input id="input_show" class="form-control" type="text" autocomplete="off">
              </div>
            </div>
          </div>
        </div>
      </div><!-- class="example_window" -->
    </div><!-- class="examples" -->
  </div><!-- class="row" -->
<!-- -->
  <div class="row">
    <div class="keyboard">
      <div class="layout_list">
        <select name="layout_select_lang" class="layout_select layout_select_lang selectpicker"
          data-width="auto" data-size="10">
        </select>
        <select name="layout_select_en" class="layout_select layout_select_en selectpicker"
          data-width="auto" data-size="10">
        </select>
        <select name="layout_select_ko" class="layout_select layout_select_ko selectpicker"
          data-width="auto" data-size="10">
          <optgroup label="머리"></optgroup>
          <optgroup label="팔"></optgroup>
          <optgroup label="허리"></optgroup>
          <optgroup label="다리"></optgroup>
        </select>
      </div>
      <div class="layout_link"
            data-toggle="tooltip"
            title="글판의 자세한 정보를 본다">
        <a href="" target="_blank">ⓘ</a>
      </div>
      <ul class="layout_option">
        <li data-toggle="tooltip"
            title="이어치기나 모아치기를 고른다!">
          <input type="checkbox" id="toggle_shoot_at_once"
            data-toggle="toggle"
            data-on="모아치기"
            data-off="이어치기" />
        </li>
        <li data-toggle="tooltip"
            title="요즘글이나 옛한글을 고른다!">
          <input type="checkbox" id="toggle_yet_hangeul"
            data-toggle="toggle"
            data-on="옛한글"
            data-off="요즘글" />
        </li>
      </ul>
      <section>
        <div class="key_row">
          <div id="key_accent" class="key">
            <em class="up_key"><div class="en_key">~</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">`</div><div class="han_key"></div></strong>
          </div>
          <div id="key_one" class="key">
            <em class="up_key"><div class="en_key">!</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">1</div><div class="han_key"></div></strong>
          </div>
          <div id="key_two" class="key">
            <em class="up_key"><div class="en_key">@</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">2</div><div class="han_key"></div></strong>
          </div>
          <div id="key_three" class="key">
            <em class="up_key"><div class="en_key">#</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">3</div><div class="han_key"></div></strong>
          </div>
          <div id="key_four" class="key">
            <em class="up_key"><div class="en_key">$</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">4</div><div class="han_key"></div></strong>
          </div>
          <div id="key_five" class="key">
            <em class="up_key"><div class="en_key">%</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">5</div><div class="han_key"></div></strong>
          </div>
          <div id="key_six" class="key">
            <em class="up_key"><div class="en_key">^</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">6</div><div class="han_key"></div></strong>
          </div>
          <div id="key_seven" class="key">
            <em class="up_key"><div class="en_key">&amp;</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">7</div><div class="han_key"></div></strong>
          </div>
          <div id="key_eight" class="key">
            <em class="up_key"><div class="en_key">*</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">8</div><div class="han_key"></div></strong>
          </div>
          <div id="key_nine" class="key">
            <em class="up_key"><div class="en_key">(</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">9</div><div class="han_key"></div></strong>
          </div>
          <div id="key_zero" class="key">
            <em class="up_key"><div class="en_key">)</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">0</div><div class="han_key"></div></strong>
          </div>
          <div id="key_hyphen" class="key">
            <em class="up_key"><div class="en_key">_</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">-</div><div class="han_key"></div></strong>
          </div>
          <div id="key_equals" class="key">
            <em class="up_key"><div class="en_key">+</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">=</div><div class="han_key"></div></strong>
          </div>
          <div id="key_backspace" class="key wide_2"><span class="right"><strong>backspace</strong></span></div>
        </div>
        <div class="key_row">
          <div id="key_tab" class="key wide_2"><span class="left"><strong>tab</strong></span></div>
          <div id="key_q" class="key">
            <em class="up_key"><div class="en_key">Q</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_w" class="key">
            <em class="up_key"><div class="en_key">W</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_e" class="key">
            <em class="up_key"><div class="en_key">E</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_r" class="key">
            <em class="up_key"><div class="en_key">R</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_t" class="key">
            <em class="up_key"><div class="en_key">T</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_y" class="key">
            <em class="up_key"><div class="en_key">Y</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_u" class="key">
            <em class="up_key"><div class="en_key">U</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_i" class="key">
            <em class="up_key"><div class="en_key">I</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_o" class="key">
            <em class="up_key"><div class="en_key">O</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_p" class="key">
            <em class="up_key"><div class="en_key">P</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_left_bracket" class="key">
            <em class="up_key"><div class="en_key">{</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">[</div><div class="han_key"></div></strong>
          </div>
          <div id="key_right_bracket" class="key">
            <em class="up_key"><div class="en_key">}</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">]</div><div class="han_key"></div></strong>
          </div>
          <div id="key_backslash" class="key">
            <em class="up_key"><div class="en_key">|</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">\</div><div class="han_key"></div></strong>
          </div>
        </div>
        <div class="key_row">
          <div id="key_caps_lock" class="key wide_3"><span class="left"><strong>caps lock</strong></span></div>
          <div id="key_a" class="key">
            <em class="up_key"><div class="en_key">A</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_s" class="key">
            <em class="up_key"><div class="en_key">S</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_d" class="key">
            <em class="up_key"><div class="en_key">D</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_f" class="key">
            <em class="up_key"><div class="en_key">F</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_g" class="key">
            <em class="up_key"><div class="en_key">G</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_h" class="key">
            <em class="up_key"><div class="en_key">H</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_j" class="key">
            <em class="up_key"><div class="en_key">J</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_k" class="key">
            <em class="up_key"><div class="en_key">K</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_l" class="key">
            <em class="up_key"><div class="en_key">L</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_semicolon" class="key">
            <em class="up_key"><div class="en_key">:</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">;</div><div class="han_key"></div></strong>
            </div>
          <div id="key_apostrophe" class="key">
            <em class="up_key"><div class="en_key">"</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">'</div><div class="han_key"></div></strong>
          </div>
          <div id="key_enter" class="key wide_3"><span class="right"><strong>enter</strong></span></div>
        </div>
        <div class="key_row">
          <div id="key_left_shift" class="key wide_4"><span class="left"><strong>shift</strong></span></div>
          <div id="key_z" class="key">
            <em class="up_key"><div class="en_key">Z</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_x" class="key">
            <em class="up_key"><div class="en_key">X</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_c" class="key">
            <em class="up_key"><div class="en_key">C</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_v" class="key">
            <em class="up_key"><div class="en_key">V</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_b" class="key">
            <em class="up_key"><div class="en_key">B</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_n" class="key">
            <em class="up_key"><div class="en_key">N</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_m" class="key">
            <em class="up_key"><div class="en_key">M</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key"></div><div class="han_key"></div></strong>
          </div>
          <div id="key_comma" class="key">
            <em class="up_key"><div class="en_key">&lt;</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">,</div><div class="han_key"></div></strong>
          </div>
          <div id="key_period" class="key">
            <em class="up_key"><div class="en_key">&gt;</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">.</div><div class="han_key"></div></strong>
          </div>
          <div id="key_forwardslash" class="key">
            <em class="up_key"><div class="en_key">?</div><div class="han_key"></div></em><br>
            <strong class="down_key"><div class="en_key">/</div><div class="han_key"></div></strong>
          </div>
          <div id="key_right_shift" class="key wide_4"><span class="right"><strong>shift</strong></span></div>
        </div>
        <div class="key_row">
          <div id="key_left_ctrl" class="key wide_1"><span class="left"><strong>ctrl</strong></span></div>
          <div id="key_left_alt" class="key wide_1"><span class="left"><strong>alt</strong></span></div>
          <div id="key_left_cmd" class="key wide_1"><span class="left"><strong>cmd</strong></span></div>
          <div id="key_space" class="key wide_5"></div>
          <div id="key_right_cmd" class="key wide_1"><span class="right"><strong>cmd</strong></span></div>
          <div id="key_right_alt" class="key wide_1"><span class="right"><strong>alt</strong></span></div>
          <div id="key_right_ctrl" class="key wide_1"><span class="right"><strong>ctrl</strong></span></div>
        </div>

        <ul class="message">
          <li class="keycode">&nbsp;</li>
          <li class="charcode">&nbsp;</li>
        </ul>

      </section><!-- section -->
<!--
      <section class="hidden">
        <div class="key_row">
          <div id="key_print" class="key"><span><strong>print</strong></span></div>
          <div id="key_scroll_lock" class="key"><span><strong>scroll lock</strong></span></div>
          <div id="key_pause_break" class="key"><span><strong>pause break</strong></span></div>
        </div>
        <div class="key_row">
          <div id="key_insert" class="key"><span><strong>insert</strong></span></div>
          <div id="key_home" class="key"><span><strong>home</strong></span></div>
          <div id="key_page_up" class="key"><span><strong>page up</strong></span></div>
        </div>
        <div class="key_row">
          <div id="key_delete" class="key"><span><strong>delete</strong></span></div>
          <div id="key_end" class="key"><span><strong>end</strong></span></div>
          <div id="key_page_down" class="key"><span><strong>page down</strong></span></div>
        </div>
        <div class="key_row">
          <div class="key_filler"></div>
          <div id="key_up" class="key"><div class="triangle up"></div></div>
          <div class="key_filler"></div>
        </div>
        <div class="key_row">
          <div id="key_left" class="key"><div class="triangle left"></div></div>
          <div id="key_down" class="key"><div class="triangle down"></div></div>
          <div id="key_right" class="key"><div class="triangle right"></div></div>
        </div>
      </section>
-->
<!--
      <section class="hidden">
        <div class="key_row">
          <div id="key_num_lock" class="key"><span><strong>num lock</strong></span></div>
          <div id="key_divide" class="key single"><strong>/</strong></div>
          <div id="key_multiply" class="key single"><strong>*</strong></div>
          <div id="key_subtract" class="key single"><strong>-</strong></div>
        </div>
        <div class="key_row">
          <div id="key_num_7" class="key"><strong>7</strong><span>home</span></div>
          <div id="key_num_8" class="key"><strong>8</strong><br><div class="triangle up"></div></div>
          <div id="key_num_9" class="key"><strong>9</strong><span>pgup</span></div>
          <div id="key_add" class="key tall"><strong>+</strong></div>
        </div>
        <div class="key_row">
          <div id="key_num_4" class="key"><strong>4</strong><br><div class="triangle left"></div></div>
          <div id="key_num_5" class="key"><strong>5</strong></div>
          <div id="key_num_6" class="key"><strong>6</strong><br><div class="triangle right"></div></div>
        </div>
        <div class="key_row">
          <div id="key_num_1" class="key"><strong>1</strong><span>end</span></div>
          <div id="key_num_2" class="key"><strong>2</strong><br><div class="triangle down"></div></div>
          <div id="key_num_3" class="key"><strong>3</strong><span>pgdn</span></div>
          <div id="key_num_enter" class="key tall"><span><strong>enter</strong></span></div>
        </div>
        <div class="key_row">
          <div id="key_num_0" class="key wide_6"><strong>0</strong><span class="right">insert</span></div>
          <div id="key_num_decimal" class="key"><strong>.</strong><br>del</div>
        </div>
        <p class="note">
          Some browsers do not distinguish some or all of the numpad keys.
        </p>
      </section>
-->
    </div><!-- keyboard -->
  </div><!-- class="row" -->
<!-- -->
  <div class="row">
    <figure class="hand">
      <div><img id = "finger_5" src = "{{ "img/taja/finger_5_off.png" | absLangURL }}" /></div>
      <div><img id = "finger_4" src = "{{ "img/taja/finger_4_off.png" | absURL }}" /></div>
      <div><img id = "finger_3" src = "{{ "img/taja/finger_3_off.png" | absURL }}" /></div>
      <div><img id = "finger_2" src = "{{ "img/taja/finger_2_off.png" | absURL }}" /></div>
      <div><img id = "finger_1" src = "{{ "img/taja/finger_1_off.png" | absURL }}" /></div>
      <div class='separator'>&nbsp;&nbsp;&nbsp;</div>
      <div><img id = "finger_6" src = "{{ "img/taja/finger_6_off.png" | absURL }}" /></div>
      <div><img id = "finger_7" src = "{{ "img/taja/finger_7_off.png" | absURL }}" /></div>
      <div><img id = "finger_8" src = "{{ "img/taja/finger_8_off.png" | absURL }}" /></div>
      <div><img id = "finger_9" src = "{{ "img/taja/finger_9_off.png" | absURL }}" /></div>
      <div><img id = "finger_10" src = "{{ "img/taja/finger_10_off.png" | absURL }}" /></div>
    </figure>
  </div><!-- class="row" -->
<!-- -->
  <div class="row">
    <div class="documentation advanced_documentation">
      <h1 class="blue">Great! So how do I use it?</h1>
      <div class="general">
        <p>입력기가 한글 입력으로 되어있을 때 이상동작을 할 수 있으니 되도록 영문 입력 상태에서 쓰시기를 바랍니다!!</p>
      </div>
      <div class="3moa hidden">
        <p>◈ 줄여넣기 ◈<br />
          줄여넣기는 세모이 글판의 [모아치기]에만 적용되어 있다
        </p>
      </div>
      <div class="3shin hidden">
        <p>◈ 신세벌식 P 의 명세서와 다른 점 ◈<br />
          옛한글을 켰을 때 첫소리를 넣고<br />
          [ㄷ, ㅁ, ㅊ, ㅋ]를 누르면 가윗소리가 들어가고 shift + [ㄷ, ㅁ, ㅊ, ㅋ]를 누르면 기윗소리가 아닌 첫소리가 들어간다
        </p>
      </div>
    </div>
  </div><!-- class="row" -->

</div><!--div class="home"-->

{{ end }}

